[Desktop Entry]
Name=Welcome
Name[ca]=Benvinguts
Name[da]=Velkommen
Name[de]=Willkommen
Name[el]=Καλώς ήλθατε
Name[es]=Bienvenido
Name[es_419]=Bienvenid@
Name[fr]=Welcome
Name[it]=Benvenuti
Name[lt]=Sveiki atvykę
Name[nb]=Velkommen
Name[nl]=Welkom
Name[pt]=Bem-vindo
Name[pt_BR]=Bem vindo
Name[ru]=Приветствие
Name[sr]=Добродошли
Name[tr]=Hoşgeldiniz
GenericName=SolydXK Welcome
GenericName[ca]=SolydXK Welcome
GenericName[da]=Velkommen til SolydXK
GenericName[de]=SolydXK Willkommen
GenericName[el]=SolydXK Καλώς ήλθατε
GenericName[es]=SolydXK Welcome
GenericName[es_419]=Bienvenida SolydXK
GenericName[fr]=SolydXK Welcome
GenericName[it]=Benvenuti su SolydXK
GenericName[lt]=SolydXK pasveikinimas
GenericName[nb]=SolydXK Velkommen
GenericName[nl]=SolydXK Welkom
GenericName[pt]=Bem-vindo ao SolydXK
GenericName[pt_BR]=Boas vindas do SolydXK
GenericName[ru]=SolydXK Приветствие
GenericName[sr]=СолидИксК добродошлица
GenericName[tr]=SolydXK'ya Hoşgeldiniz
Comment=SolydXK Welcome
Comment[ca]=SolydXK Welcome
Comment[da]=Velkommen til SolydXK
Comment[de]=SolydXK Willkommen
Comment[el]=SolydXK Καλώς ήλθατε
Comment[es]=SolydXK Welcome
Comment[es_419]=Bienvenida SolydXK
Comment[fr]=SolydXK Welcome
Comment[it]=Benvenuti su SolydXK
Comment[lt]=SolydXK pasveikinimas
Comment[nb]=SolydXK Velkommen
Comment[nl]=SolydXK Welkom
Comment[pt]=Bem-vindo ao SolydXK
Comment[pt_BR]=Boas vindas do SolydXK
Comment[ru]=SolydXK Приветствие
Comment[sr]=СолидИксК добродошлица
Comment[tr]=SolydXK'ya Hoşgeldiniz
Exec=solydxk-welcome
Icon=solydxk
Terminal=False
Type=Application
Categories=Application;System;Settings;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
