[Desktop Entry]
Type=Service
Icon=solydxk
Exec=solydxk-welcome

X-KDE-ServiceTypes=SystemSettingsExternalApp
X-KDE-System-Settings-Parent-Category=system-administration
X-KDE-System-Settings-Parent-Category-V2=system-administration
X-KDE-ParentApp=solydxk-welcome
Categories=Qt;KDE;X-KDE-settings-system-administration;

Name=Welcome
Name[ca]=Benvinguts
Name[da]=Velkommen
Name[de]=Willkommen
Name[es]=Bienvenido
Name[fr]=Welcome
Name[it]=Benvenuti
Name[lt]=Sveiki atvykę
Name[nb]=Velkommen
Name[nl]=Welkom
Name[pt]=Bem-vindo
Name[sr]=Добродошли
GenericName=SolydXK Welcome
GenericName[ca]=SolydXK Welcome
GenericName[da]=Velkommen til SolydXK
GenericName[de]=SolydXK Willkommen
GenericName[es]=SolydXK Welcome
GenericName[fr]=SolydXK Welcome
GenericName[it]=Benvenuti su SolydXK
GenericName[lt]=SolydXK pasveikinimas
GenericName[nb]=SolydXK Velkommen
GenericName[nl]=SolydXK Welkom
GenericName[pt]=Bem-vindo ao SolydXK
GenericName[sr]=СолидИксК добродошлица
Comment=SolydXK Welcome
Comment[ca]=SolydXK Welcome
Comment[da]=Velkommen til SolydXK
Comment[de]=SolydXK Willkommen
Comment[es]=SolydXK Welcome
Comment[fr]=SolydXK Welcome
Comment[it]=Benvenuti su SolydXK
Comment[lt]=SolydXK pasveikinimas
Comment[nb]=SolydXK Velkommen
Comment[nl]=SolydXK Welkom
Comment[pt]=Bem-vindo ao SolydXK
Comment[sr]=СолидИксК добродошлица
