[Desktop Entry]
Type=Service
Icon=solydxk
Exec=solydxk-welcome

X-KDE-ServiceTypes=SystemSettingsExternalApp
X-KDE-System-Settings-Parent-Category=system-administration
X-KDE-System-Settings-Parent-Category-V2=system-administration
X-KDE-ParentApp=solydxk-welcome
Categories=Qt;KDE;X-KDE-settings-system-administration;

Name=SolydXK Welcome
Name[ca]=SolydXK Welcome
Name[da]=Velkommen til SolydXK
Name[de]=SolydXK Willkommen
Name[el]=SolydXK Καλώς ήλθατε
Name[es]=SolydXK Welcome
Name[es_419]=Bienvenida SolydXK
Name[fr]=SolydXK Welcome
Name[it]=Benvenuti su SolydXK
Name[lt]=SolydXK pasveikinimas
Name[nb]=SolydXK Velkommen
Name[nl]=SolydXK Welkom
Name[pt]=SolydXK Bem-vindo
Name[pt_BR]=Boas vindas do SolydXK
Name[ru]=SolydXK Приветствие
Name[sr]=СолидИксК добродошлица
Name[tr]=SolydXK'ya Hoşgeldiniz
Comment=SolydXK Welcome
Comment[ca]=SolydXK Welcome
Comment[da]=Velkommen til SolydXK
Comment[de]=SolydXK Willkommen
Comment[el]=SolydXK Καλώς ήλθατε
Comment[es]=SolydXK Welcome
Comment[es_419]=Bienvenida SolydXK
Comment[fr]=SolydXK Welcome
Comment[it]=Benvenuti su SolydXK
Comment[lt]=SolydXK pasveikinimas
Comment[nb]=SolydXK Velkommen
Comment[nl]=SolydXK Welkom
Comment[pt]=SolydXK Bem-vindo
Comment[pt_BR]=Boas vindas do SolydXK
Comment[ru]=SolydXK Приветствие
Comment[sr]=СолидИксК добродошлица
Comment[tr]=SolydXK'ya Hoşgeldiniz
