[Desktop Entry]
Encoding=UTF-8
Name=SolydXK Welcome
Name[ca]=SolydXK Welcome
Name[da]=Velkommen til SolydXK
Name[de]=SolydXK Willkommen
Name[el]=SolydXK Καλώς ήλθατε
Name[es]=SolydXK Welcome
Name[es_419]=Bienvenida SolydXK
Name[fr]=SolydXK Welcome
Name[it]=Benvenuti su SolydXK
Name[lt]=SolydXK pasveikinimas
Name[nb]=SolydXK Velkommen
Name[nl]=SolydXK Welkom
Name[pt]=SolydXK Bem-vindo
Name[pt_BR]=Boas vindas do SolydXK
Name[ru_RU]=SolydXK Приветствие
Name[sr]=СолидИксК добродошлица
Name[tr]=SolydXK'ya Hoşgeldiniz
Comment=SolydXK Welcome Screen
Comment[ca]=Pantalla de Benvinguda de SolydXK
Comment[da]=SolydXK Velkomstbillede
Comment[de]=SolydXK Willkommens-Bildschirm
Comment[el]=SolydXK Οθόνη Καλωσορίσματος
Comment[es]=SolydXK Welcome Screen
Comment[es_419]=Ventana de bienvenida de SolydXK
Comment[fr]=SolydXK Welcome Screen
Comment[it]=Schermata di benvenuto di SoldyXK 
Comment[lt]=SolydXK pasveikinimo ekranas
Comment[nb]=SolydXK Velkomstskjerm
Comment[nl]=SolydXK Welkom Scherm
Comment[pt]=Tela de Solydxk Bem-vindo 
Comment[pt_BR]=Tela de Boas Vindas do SolydXK
Comment[ru_RU]=SolydXK Экран Приветситвия
Comment[sr]=СолидИксК екран добродошлице
Comment[tr]=SolydXK Karşılama Ekranı
Exec=solydxk-welcome -a
Terminal=false
Type=Application
