[Desktop Entry]
Encoding=UTF-8
Name=SolydXK Welcome
Name[de]=SolydXK Willkommen
Name[nb]=SolydXK Velkommen
Name[nl]=SolydXK Welkom
Name[pt]=Bem-vindo ao SolydXK
Name[sr]=СолидИксК добродошлица
Comment=SolydXK Welcome Screen
Comment[de]=SolydXK Willkommens-Bildschirm
Comment[nb]=SolydXK Velkomstskjerm
Comment[nl]=SolydXK Welkom Scherm
Comment[pt]=Tela de Bem-vindo do Solydxk
Comment[sr]=СолидИксК екран добродошлице
Exec=solydxk-welcome -a
Terminal=false
Type=Application
